<nav class="nav">
    <a class="navbar-brand" href="#">DEMO APP</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="#" style="color: white;">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#" style="color: white;">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="#" style="color: white;">Jobs</a></li>
        <li class="nav-item"><a class="nav-link" href="#" style="color: white;">Clients</a></li>
        <li class="nav-item"><a class="nav-link" href="#" style="color: white;">Employers</a></li>
        <li class="nav-item"><a class="nav-link" href="#" style="color: white;">Contact Us</a></li>
      </ul>
    </div>
  </nav>
  
