<div class="homepage-container" >
  <div class="search-section">
    <div >
      <header  class="header" >
        <div class="container">
          <nav class="nav">
            <span class="logo" style="margin-right: 250px; color: black"><b>DEMOAPP</b></span>
            <a href="#" style="margin-right: 50px; color: white;" routerLink="/profile">Home</a>
            <a href="#" style="margin-right: 50px; color: white;" routerLink="/">AboutUs</a>
            <a href="#" style="margin-right: 50px; color: white;" routerLink="/">Jobs</a>
            <a href="#" style="margin-right: 50px; color: white;" routerLink="/">Jobs</a>
            <a href="#" style="margin-right: 50px; color: white;" routerLink="/">Clients</a>
            <a href="#" style="margin-right: 50px; color: white;" routerLink="/">Employers</a>
            <a href="#" style="margin-right: 50px; color: white;" routerLink="/">ContactUs</a>
          </nav>
        </div>
      </header><br><br>
      <div >
        <h1>
          <i style="color:white">I'm looking for..</i>
        </h1>
        <div class="search-bar">
          <input type="text" placeholder="Enter a Job Description" name="query">
          <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Search</button>
        </div>
        <div class="description">
          <input type="checkbox" id="fulltime" name="fulltime">
          <label class="checkbox"><i style="color: white;">Full Time</i></label>
          <input type="checkbox" id="parttime" name="fulltime">
          <label class="checkbox"><i style="color: white;">Part Time</i></label>
          <input type="text" style="margin-block: 10px; margin-left: 10px; padding: 5px;" placeholder="Select your Location">
        </div><br>
        <span>
          <a href="#" class="btn btn-secondary" style="margin-right: 50px;" routerLink="['/Register']">Register</a>
        </span>
      </div>
    </div>
  </div>
  <div class="info-section" style="color: gray;">
    <h5><i>We're leaders in</i></h5> 
    <h2> Creative Digital Recruitment</h2>
    <p>Based in Surry Hills, the creative hub of Sydney, we are surrounded by creativity <br> and that reflects on the type of jobs we recruit for.</p>
    <a class="btn btn-info">Find out more about us</a>
  </div>
  <div class="footer">
    <div class="container">
      <h6>Subscribe to our Job Seeker Mailing List</h6>
      <input type="email" placeholder="Enter Your Email Address">
    </div>
  </div>
</div>
