<span>
  <a  routerLink="['/header']"></a>
</span>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <img src="profile.png" class="img-fluid rounded-circle" alt="Profile Picture">
      <button class="btn btn-warning btn-block mt-2">Edit Photo</button>
      <button class="btn btn-warning btn-block mt-2">Edit Profile</button>
    </div>
    <div class="col-md-8">
      <h2>Profile</h2>
      <p>I'm Caroline Kassidy and I'm above 20 years and you can send your emails to <a href="mailto:caroline.kassidy@publicis.com">hcaroline.kassidypublicis.com</a>. I live in the state of Alaska. I like to play hockey, football and read books. And please send me newsletters. Please reach out to me on my phone number.</p>
      <button class="btn btn-success">I Agree</button>
    </div>
  </div>
</div>
<span>
  <a routerLink="['/subscription']"></a>
</span>


